@live:registry=https://live-051809434139.d.codeartifact.eu-north-1.amazonaws.com/npm/live/
//live-051809434139.d.codeartifact.eu-north-1.amazonaws.com/npm/live/:always-auth=true
//live-051809434139.d.codeartifact.eu-north-1.amazonaws.com/npm/live/:_authToken=${CODEARTIFACT_AUTH_TOKEN}
